/*
Typography
FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
Font Weight: 400

Colors
Primary: #e67e22
Tint: #343a40
Shades: 
Accents:
Greys: #555

Shaodws

Border Radius

White Space
SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
*/